<div class='footer'>
  <img src='/images/about/footer_grass.svg' alt='Grass' />
  Copyright © 2012-2023 <a href='mailto:iclcoolster@gmail.com'>Sachin Patil</a>
  | <a href='https://gitlab.com/psachin/psachin.gitlab.io'>Source</a>
  | <a href='https://gitlab.com/psachin/psachin.gitlab.io/-/tree/blog_template'>Publish
  your own blogs</a>
  | <a href='/legal/'>Privacy & Legal</a> <br>
  GnuPG fingerprint: <a href='https://keys.openpgp.org/search?q=28C5A1F3221B949DB651FC47E5F9CE4862AA06E2'>28C5 A1F3 221B 949D B651 FC47 E5F9 CE48 62AA 06E2</a> <br>
  Inspired by <a href='https://nicolas.petton.fr'>https://nicolas.petton.fr</a> <br>
  Last updated on %s. Generated using %s <br>
  <a href='http://www.catb.org/hacker-emblem/'> <img src='http://www.catb.org/hacker-emblem/glider.png' alt='hacker emblem' /></a>
  <a href='https://info.flagcounter.com/tlzk'><img src='https://s11.flagcounter.com/mini/tlzk/bg_FFFFFF/txt_9E9E9E/border_FFFFFF/flags_0/' alt='Free counters!' border='0'></a>
</div>
